body {
    height: 100%;
    width: 100%;
}
#homeImage {
    background-image: url("/assets/home/perspective2.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#aboutMe {
    background-color: black;
    height: 100vh;
}
#endImage {
    background-color: black;
    height: 100vh;
}
